article {
    justify-content: flex-start;
    align-items: flex-start;
}
article * {
    display: block;
    text-align: left;
}
article ul {
    display: block;
    list-style: disc;
    text-align: left;
}
article li {
    list-style: disc;
    list-style-position: outside;
}