body {
  font-family: 'roboto', sans-serif;
  font-size: 13pt;
  margin: 0;
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
}
div.BGContainer {  
  position: fixed;
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  border-radius: 0;
  z-index: -999;
  background-image: linear-gradient(90deg, rgb(52, 52, 52),rgb(168, 168, 168)),linear-gradient(45deg, rgb(67, 25, 34) 0%, rgb(67, 25, 34) 45%,rgb(104, 41, 41) 45%, rgb(104, 41, 41) 62%,rgb(141, 58, 49) 62%, rgb(141, 58, 49) 68%,rgb(178, 74, 56) 68%, rgb(178, 74, 56) 77%,rgb(215, 91, 64) 77%, rgb(215, 91, 64) 92%,rgb(252, 107, 71) 92%, rgb(252, 107, 71) 100%),linear-gradient(135deg, rgb(67, 25, 34) 0%, rgb(67, 25, 34) 45%,rgb(104, 41, 41) 45%, rgb(104, 41, 41) 62%,rgb(141, 58, 49) 62%, rgb(141, 58, 49) 68%,rgb(178, 74, 56) 68%, rgb(178, 74, 56) 77%,rgb(215, 91, 64) 77%, rgb(215, 91, 64) 92%,rgb(252, 107, 71) 92%, rgb(252, 107, 71) 100%); background-blend-mode:overlay,overlay,normal;
  background-repeat: no-repeat;
  background-size: cover;
}
section, figure, footer, div, li.bizProcessList ul, li.bizProcessList ul li {
  border-radius: 20px;
  box-shadow: 1px 1px 5px grey;
  background: white;
  padding: 0.5rem;
  margin: 0.5rem;
}
header div {
  box-shadow: none;
}
img {
  max-width: 90%;
}
nav i, figure svg, figure img {
  height: 4rem;
  min-width: 4rem;
  font-size: 4rem;
}
header, nav ul, nav figure, section, section ul, section ul ul, div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
header {
  flex-direction: column;
}
section, section ul, figure, nav figure {
  flex-direction: column;
}
figure {
  height: 6rem;
  width: min-content;
  font-size: 0.8em;
}
h1, h2, h3, h4, h5, h6, li, a, p, figcaption {
 	padding: 0.15rem;
	margin: 0.15rem;
	white-space: wrap;
}
li, a, p {
  font-size: 1rem;
}
h6 {
 font-size: 1.15rem;
}
h5 {
 font-size: 1.25rem;
}
h4 {
 font-size: 1.3rem;
}
h3 {
 font-size: 1.4rem;
}
h2 {
 font-size: 1.5rem;
}
h1 {
 font-size: 2rem;
}
h1.pgTitle {
  color: white;
  text-shadow: 3px 3px 6px #de4c36, 3px -3px 6px #de4c36, -3px 3px 6px #de4c36, -3px -3px 6px #de4c36;
  font-size: 300%;
}
header nav {
  width: 80%;
}
header nav figure {
  position: relative;
  height: 4rem;
  width: 3.5rem;
  bottom: 0rem;
  transition: bottom 0.25s;
  padding: 0;
  margin: 0;
}
nav figure * {
  font-size: 0.7rem;
  min-width: 0;
  max-width: 3.5rem;
  max-height: 4rem;
  text-align: center;
  padding: 0;
  margin: 0;
}
nav figure:hover {
  position: relative;
  bottom: 0.5rem;
}
nav figcaption {
  padding-top: 0.1rem;
}
nav svg, nav i {
  color: #DE3636;
  fill: #DE3636;
  height: 2rem;
  font-size: 2rem;
}
figure.toolsFig {
  justify-content: flex-end;
}
figure.toolsFig svg {
  height: 1.7rem;
}
figure.toolsFig figcaption {
  margin-bottom: 0.2rem;
}
ul.wideList {
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  max-width: 90vw;
}
ul.wideList li {
  padding: 0;
  margin: 0;
}
/*li:not(li.wideList1stLi)*/
img.chromeDevToolsLogo {
  height: 3.5rem;
  min-width: unset;
  max-width: unset;
  width: auto;
  margin: 0.25rem 0.25rem -0.25rem 0.25rem;
}
figure.moreInfoFig {
  display: grid;
  grid-template-areas: "icon arrow"
                       "caption arrow";
  align-items: center;
  width: 7.5rem;
}
.moreInfoFig svg {
  /*fill: #DE3636;*/
  height: 3.25rem
}
.moreInfoIcon {
  grid-area: icon;
  border-radius: 20px;
}
.moreInfoArrow {
  grid-area: arrow;
  align-self: start;
}
.hrzntlScrllWArrws-Outer {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
li.scrollArrowCont {
}
li.arrowLiRight {
}
li.scrollArrowCont figure {
  display: flex;
  justify-content: center;
}
svg.scrollArrow {
  min-width: unset;
  /* height: 4rem;
  position: absolute;
  fill: #DEDEDE; */
}
svg.scrollLeft {
  transform: rotateZ(180deg);
}
svg.scrollRight {
  right: 0;
}
/*li.wideList1stLi {
 margin-left: 3rem;
}
li.wideListLastLi {
  margin-right: 3rem;
}*/
section.skillsSctn .moreInfoArrow svg {
  height: 6rem;
}
.moreInfoCaption {
  grid-area: caption;
}
figure.moreInfoFig a {
  font-size: 0.8rem;
  padding: 0;
  margin: 0;
}
section.skillsSctn .wideList {
  width: 93vw;
  margin-left: -0.5rem;
}
section.certsSctn figure {
height: 52vw;
width: min-content;
}
section.certsSctn img {
  max-width: unset;
  height: 40vw;
}
section.certsSctn svg {
  height: 38vw;
}
section.certsSctn .moreInfoIcon {
  height: 36vw;
}
section.certsSctn .moreInfoIcon svg {
  margin-bottom: 0;
  height: 36vw;
}
section.certsSctn .moreInfoArrow svg {
  height: 50vw;
}
section.certsSctn .moreInfoFig a {
  font-size: 1rem;
}
section.bckgrndSctn figure, section.bckgrndSctn ul {
  margin: 0.5rem 0;
}
table {
  border-collapse: separate;
	border-spacing: 0px;
}
table th, table td {
  padding: 0.5rem;
}
td.tableImgTd {
  vertical-align: middle;
}
td.tableImgTd * {
  max-height: 4rem;
  margin: 2px 0 0 0;
  padding: 0;
}
li.bizProcessList ul {
  justify-content: flex-start;
}
li.bizProcessList ul li {
  padding: 0.5rem;
  margin: 0.25rem;
  box-shadow: 1px 1px 4px rgb(187, 186, 186);
}
figure.PMExFig {
  width: unset;
  height: unset;
  padding: 0;
}
.restoredList {
    list-style-type: disc;
    list-style-position: outside;
    margin-left: 1.5rem;
    text-align: left;
    width: 90%;
}
.restoredList a {
  margin: 0;
  padding: 0;
}
figure.PMExFig img {
  justify-self: center;
  height: 100%;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.1rem;
  border-radius: 20px;
  border: solid 1px lightgrey;
}
li.FCXConnected ul {
  flex-direction: row;
  justify-content: space-evenly;
  border-radius: 20px;
  box-shadow: 1px 1px 5px grey;
}
li.FCXConnected ul li {
  min-width: 4rem;
}
li.FCXConnectedText {
  width: min-content;
  text-align: left;
  padding: 0.5rem;
}
section.bckgrndSctn figure.moreInfoFig {
  flex-direction: row;
  width: unset;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
}
section.bckgrndSctn > ul > li {
  min-width: 278.4px;
}
section.bckgrndSctn figure.moreInfoFig figcaption {
  width: min-content;
}
ul.projectsList li {
  box-shadow: 1px 1px 5px grey;
  display: inline-grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto auto;
  border-radius: 20px;
  min-width: fit-content;
  width: auto;
  height: 90vw;
  margin: 0.5rem;
}
ul.projectsList img {
  border-radius: 20px;
  padding: 0.25rem;
}
ul.projectsList li h2 {
  grid-column: 1 / 3;
  grid-row: 1;
}
a.projectLogo {
  grid-column: 1;
  grid-row: 2;
  align-self: start;
}
a.projectPreview {
  grid-column: 2;
  grid-row: 2;
}
ul.projectsList li p {
  grid-column: 1 / 3;
  grid-row: 3;
  font-style: italic;
}
img.SELogo {
  background-color: black;
}
#FCXTikiLogo {
    height: auto;
    border-radius: 10px;
    width: 5rem;
}
ul.projectsList img.FCXWikiPreview {
  padding: 0.5rem;
}
img.sitePreview {
  background: #e8e8e8;
}
ul.projectsList li.moreInfoLi {
  display: flex;
  align-items: center;
  padding: 0;
  width: unset;
}
ul.projectsList figure.moreInfoFig {
  width: unset;
}
ul.projectsList li.moreInfoLi * {
  box-shadow: none;
  height: unset;
}
ul.projectsList .moreInfoIcon svg {
  margin-bottom: 0.7rem;
  height: 36vw;
}
ul.projectsList .moreInfoArrow svg {
  height: 100%;
}
ul.projectsList .moreInfoCap a {
  font-size: 1rem;
}
footer {
    margin: 10px 0 0 0;
    border-radius: 20px 20px 0 0;
}
ul.projectsList p {
  padding-bottom: 0.5rem;
}
footer nav {
  justify-content: space-around;
}
footer nav ul {
  width: 100%;
  align-items: center;
  min-height: 3rem;
}
footer nav li {
  min-width: 0;
}
footer svg, footer i {
  height: 1.25rem;
  min-width: 0;
  border-radius: 0;
  position: relative;
  bottom: 0;
  transition: bottom 0.25s;
  font-size: 1.5rem;
}
ul.siteMapWhole {
	font-weight: bold;
  margin-bottom: 1rem;
}
ul.siteMapWhole a:hover {
  text-shadow: 0.5px 0.5px black;
}
ul.siteMapWhole ul {
  padding: 0.5rem 0 0 0;
}
li.siteMapProjectsList {
  break-before: column;
}
ul.siteMapWhole li ul li {
	font-weight: normal;
}
.hiddenHeaders {
  display: none;
}
/* Everything below here hamburger menu */

div.hamMenu {
	position: fixed;
	top: 0;
  left: 0;
  background: none;
  box-shadow: none;
}
div.hamMenu * {
  background: none;
  box-shadow: none;
  text-align: left;
  /* border: solid 1px black; */
}
#hamMenuIcon {
  position: absolute;
}
#hamMenuList {
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 1px 1px 5px grey;
}
h1.hamHeader {
    text-align: center;
}
div.hamMenuPre1stClick {
  display: none;
}
div.hamMenuVisible {
  display: flex;
  animation-name: fadeInWholeElement;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  z-index: 200;
}
div.hamMenuHidden {
  animation-name: fadeOutWholeElement;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  z-index: -200;
}
div.hamMenuVisible a:hover {
  text-shadow: 0.5px 0.5px black;
}
#hamMenuIcon span {
  display: block;
  position: fixed;
  height: 6px;
  min-width: 0px;
  width: 35px;
  background: #DE3636;
  border-radius: 9px;
  opacity: 1;
  left: 5px;
  z-index: 100;
}
#hamMenuIcon span:nth-child(1) {
  top: 5px;
}
#hamMenuIcon span:nth-child(2) {
  top: 15px;
}
#hamMenuIcon span:nth-child(3) {
  top: 25px;
}
span.hamLine1Opening {
	animation-name: hamOpenTop;
	animation-duration: 1s;
  animation-fill-mode: forwards;
}
span.hamLine1Closing {
	animation-name: hamCloseTop;
	animation-duration: 1s;
  animation-fill-mode: forwards;
}
span.hamLine2Opening {
	animation-name: hamOpenMiddle;
	animation-duration: 1s;
  animation-fill-mode: forwards;
}
span.hamLine2Closing {
	animation-name: hamCloseMiddle;
	animation-duration: 1s;
  animation-fill-mode: forwards;
}
span.hamLine3Opening {
	animation-name: hamOpenBottom;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
span.hamLine3Closing {
	animation-name: hamCloseBottom;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
@keyframes hamOpenTop {
    from { transform: translateY(0px) rotate(0deg); background-color: #DE3636;}
    to { transform: translateY(10px) rotate(135deg); background-color: red;}
}
@keyframes hamCloseTop {
    from { transform: translateY(10px) rotate(135deg); background-color: red;}
    to { transform: translateY(0px) rotate(0deg); background-color: #DE3636;}
}
@keyframes hamOpenMiddle {
    0% {opacity:1; background-color: #DE3636;}
    100% {opacity:0; background-color: red;}
}
@keyframes hamCloseMiddle {
	0% {opacity:0; background-color: red;}
	100% {opacity:1; background-color: #DE3636;}
}
@keyframes hamOpenBottom {
    from { transform: translateY(0px) rotate(0deg); background-color: #DE3636;}
    to { transform: translateY(-10px) rotate(-135deg); background-color: red;}
}
@keyframes hamCloseBottom {
    from { transform: translateY(-10px) rotate(-135deg); background-color: red;}
    to { transform: translateY(0px) rotate(-0deg); background-color: #DE3636;}
}
@keyframes fadeInWholeElement {
    0% {opacity:0;}
	100% {opacity:1;}
}
@keyframes fadeOutWholeElement {
    0% {opacity:1;}
    100% {opacity:0;}
}

.WMCubeRow {
    height: 180px;
    background: transparent;
}
.WMDevTextCircle {
    width: 180px;
    height: 180px;
    padding: 5px;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 100%;
}
.cube {
  position: absolute;
}
.WMDevTextCircle:hover {
  animation: WMDevTextCircleSpin 1s ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes WMDevTextCircleSpin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
.WMCubeScene {
    width: 125px;
    height: 125px;
    perspective: 150px;
    border-radius: 100%;
    background: #DE3636;
    box-shadow: none;
    padding: 0;
}
.WMCube {
    transform-style: preserve-3d;
    background: none;
    box-shadow: none;
    transform: rotateY(135deg);
    animation: cubeRotate 10s infinite ease-in-out;
}
@keyframes cubeRotate {
  0% { transform: rotateY(135deg) rotateX(0deg) rotateZ(0deg); }
  25% { transform: rotateY(135deg) rotateX(0deg) rotateZ(0deg); }
  100% { transform: rotateY(-225deg) rotateX(0deg) rotateZ(0deg); }
}
@keyframes cubeSpin {
  0% { transform: rotateX(0deg) rotateZ(0deg); }
  25% { transform: rotateX(0deg) rotateZ(0deg); }
  100% { transform: rotateX(-225deg) rotateZ(-225deg); }
}
.WMCubeSide {
    height: 4rem;
    width: 4rem;
}
.WMCubeBG {
    fill: #DE3636;
    display: block;
    margin: 0 auto;
    position: absolute;
}
.WMCubeLetter {
    fill: white;
}
.WMCubeMSideOuter {
  fill: none;
}
.cubeFaceTop {
    transform: rotateX(90deg) translateZ(32px);
}
.cubeFaceBottom {
    transform: rotateX(-90deg) translateZ(32px) rotateZ(180deg);
}
.cubeFaceRight {
    transform: rotateY(90deg) translateZ(32px);
}
.cubeFaceLeft {
    transform: rotateY(-90deg) translateZ(32px);
}
.cubeFaceFront {
    transform: rotateX(0deg) translateZ(32px);
}
.cubeFaceBack {
    transform: rotateX(-180deg) translateZ(32px) rotateZ(180deg);
}
.WNCubeBGCircle {
  position: absolute;
}
.thoughtWrapper {
  display: flex;
  justify-content: center;
  /*padding-bottom: 40px;*/
  background: transparent;
}
.thought {
  background-color: #FFFFFF;
  padding: 20px;
  border-radius:30px;
  min-width:40px;
  max-width:200px;
  min-height:30px;
  margin: 10px;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.thought:before,
.thought:after {
  content:"";
  background-color: #FFFFFF;
  border-radius:50%;
  display:block;
  position:absolute;
  z-index: 1;
}
.thought:before {
  width:44px;
  height:44px;
  top:-22px;
  left:28px;
  box-shadow:-50px 30px 0 -12px #fff;
}
.thought:after {
  bottom:-10px;
  right:26px;
  width:30px;
  height:30px;
  box-shadow:40px -34px 0 0 #fff,
             -28px -6px 0 -2px #fff,
             -24px 17px 0 -6px #fff,
             -5px 25px 0 -10px #fff;
  
}
@media only screen and (min-width: 16rem) {
  ul.intermediateBox {
    display: inline-grid;
    grid-template-columns: min-content max-content;
    grid-template-rows: max-content max-content;
  }
  ul.intermediateBox li:nth-of-type(1) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  ul.intermediateBox li:nth-of-type(2) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  li.AdobeBox {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}
@media only screen and (min-width: 700px) {
  li.moreInfoOnSectionLi {
    justify-self: flex-end;
    align-self: flex-end;
  }
  ul.siteMapWhole {
	column-count: 2;
  margin: 0.5rem;
  }
  ul.siteMapWhole li {
  break-inside: avoid;
  }
}
.backToTopButton i {
  color: #DE3636;
  font-size: 2rem;
  background: white;
  border-radius: 100%;
  border: solid 1px #DE3636;
  transition: bottom 0.25s;
  position: fixed;
  bottom: 8px;
  right: 8px;
}
.backToTopButton i:hover {
  bottom: 10px;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: lightgray;
}