body {
    font-family: 'roboto', sans-serif;
	  font-size: 10pt;
}
header, main, footer {
    border-style: solid;
    border-width: 1px;
	  border-color: black;
}
nav.wm, section, aside, ul.wm, li.wm, figure {
	  border-style: solid;
    border-width: 1px;
	  border-color: black;
    border-radius: 20px;
	  margin: 0.5rem;
	  padding: 0.5rem;
}
h1, h2, p, a.wm, span, th, td {
		margin: 0.5rem;
		padding: 0.5rem;
}
ul.wm {
    list-style: none;
}
img, svg {
			height: 4rem;
			min-width: 4rem;
}
.navImg {
	height: 2rem;
	min-width: 0;
}
i {
	font-size: 2.3rem;
}
section, ul.wm, figure {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: flex-start; */
    /* align-items: flex-start; */
}
section {
	flex-direction: column;
}
li.bizsList, li.FCXConnected {
  width: 45%;
}
li.bizProcessList ul {
  /* justify-content: space-evenly; */
  font-size: 0.9em;
  /* padding:  0.2em; */
}
figure.PMExFig figcaption p {
  padding: 0;
	margin: 0;
}
ul.whyWebDevList {
  display: inline-block;
}
ul.PMExList {
  display: inline-block;
}
#projectPlanEx {
  width: 100%;
	height: auto;
	margin-top: 1em;
}
footer ul {
	display: block;
}
nav.wm ul.wm {
	display: flex;
	justify-content: center;
	align-items: center;
}
aside {
  position: fixed;
	left: 0;
	top: 0;
	width: min-content;
	background-color: white;
	padding: 0;
}
aside ul {
  display: block;
	text-align: center;
	padding: 0;
	margin: 0;
}
aside ul li a {
  padding: 0;
	margin: 0;
}
ul.siteMapWhole {
	column-count: 2;
	font-weight: bold;
}
ul.siteMapWhole li {
  break-inside: avoid;
}
li.siteMapProjectsList {
  break-before: column;
}
ul.siteMapWhole li ul li {
	font-weight: normal;
	margin: 0;
	padding: 0;
}
footer p {
  text-align: center;
}
figure.navFig {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
}
figure.navFig a {
	margin: 0;
	padding: 0;
}
section.webDevCertsSctn ul li figure {
  flex-direction: column;
	width: min-content;
	align-items: center;
}
section.webDevCertsSctn ul li figure figcaption {
  text-align: center;
}
ul.projectsList li {
  width: min-content;
}
ul.projectsList li figure figcaption {
  text-align: center;
	padding: 0.5rem;
}
figure.sitePreviewFig {
  flex-direction: column;
}
img.sitePreview {
  height: auto;
  width:  100%;
}
h1.nameSiteTitle {
	text-align: center;
	font-size: 300%;
}
h2.taglineSiteSubtitle {
	text-align: center;
}
.hiddenHeaders {
	display: none;
}
th, td {
	text-align: left;
	padding: 0.5em;
}
table {
	border-collapse: separate;
	border-spacing: 0px;
}
figure.moreInfoOnSectionLink {
	/* display: flex; */
	/* flex-direction: row; */
	/* justify-content: center; */
	/* align-items: center; */
	/* padding: 0.25em; */
	/* margin: 0; */
	/* flex-wrap: nowrap; */
	/* width: min-content; */
	/* height: min-content; */
}
figure.moreInfoOnSectionLink figcaption {
  padding: 0;
	margin: 0 0 0 1em;
	white-space: nowrap;
	font-size: 12pt;
}
figure.moreInfoOnSectionLink a svg {
  height: 1.5em;
	padding: 0.5em;
	margin: 0;
}
summary {
	align-self: center;
}
td img {
    width: 100%;
    height: auto;
}

li.bizProcessList ul li {
    margin: 5px;
    /* font-size: 0.9em; */
}

ul.projectsList.wm {
    /* width:  100%; */
}

figure.projectFig {/* display: flex; *//* flex-direction: row; *//* flex-wrap: nowrap; *//* width: 10em; */font-size:  0.8em;flex-wrap: nowrap;justify-content: flex-start;align-items: center;}

.projectLogo {
    width: 40px;
}

h2.projectTitle {padding: 0;margin: 0;}

h2.projectTitle a {
    padding:  0;
    margin:  0;
}
summary {
	list-style: none;
}
.hamMenu {
    border-style:  none;
    padding: 0;
    margin:  0;
}
svg.hamMenu {
    height:  3em;
	min-width: 0;
}
#hamMenuList {
	position: fixed;
	text-align: left;
	top: 35px;
	font-size: 1.2em;
	padding: 1em;
	background-color: white;
	border: solid 1px black;
	border-radius: 20px;
}
#hamMenuList li {
	list-style: none;
}
#hamMenuIcon {
	background-color: white;
	width: 45px;
	height: 35px;
}
#hamMenuIcon span {
  display: block;
  position: absolute;
  height: 6px;
  width: 35px;
  background: #000000;
  border-radius: 9px;
  opacity: 1;
  left: 5px;
  padding: 0;
  margin: 0;
}
#hamMenuIcon span:nth-child(1) {
  top: 5px;
}
#hamMenuIcon span:nth-child(2) {
  top: 15px;
}
#hamMenuIcon span:nth-child(3) {
  top: 25px;
}
span.hamClosed {
	transform: translateY(0px) translateX(0px) rotate(0deg);
}
span.hamLine1Opening {
	animation-name: hamOpenTop;
	animation-duration: 1s;
  	animation-fill-mode: forwards;
}
span.hamLine1Closing {
	animation-name: hamCloseTop;
	animation-duration: 1s;
  	animation-fill-mode: forwards;
}
span.hamLine2Opening {
	animation-name: hamOpenMiddle;
	animation-duration: 1s;
  	animation-fill-mode: forwards;
}
span.hamLine2Closing {
	animation-name: hamCloseMiddle;
	animation-duration: 1s;
  	animation-fill-mode: forwards;
}
span.hamLine3Opening {
	animation-name: hamOpenBottom;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
span.hamLine3Closing {
	animation-name: hamCloseBottom;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
/* @keyframes hamOpenTop {
    from { transform: translateY(0px) translateX(0px) rotate(0deg); }
    to { transform: translateY(10px) translateX(-5px) rotate(135deg); }
} */
@keyframes hamOpenTop {
    from { transform: translateY(0px) rotate(0deg); }
    to { transform: translateY(10px) rotate(135deg); }
}
@keyframes hamCloseTop {
    from { transform: translateY(10px) translateX(-5px) rotate(135deg); }
    to { transform: translateY(0px) translateX(0px) rotate(0deg); }
}
@keyframes hamOpenMiddle {
    0% {opacity:1;}
    100% {opacity:0;}
}
@keyframes hamCloseMiddle {
	0% {opacity:0;}
	100% {opacity:1;}
}
/* @keyframes hamOpenBottom {
    from { transform: translateY(0px) translateX(0px) rotate(0deg); }
    to { transform: translateY(-10px) translateX(-5px) rotate(-135deg); }
} */
@keyframes hamOpenBottom {
    from { transform: translateY(0px) rotate(0deg); }
    to { transform: translateY(-10px) rotate(-135deg); }
}
@keyframes hamCloseBottom {
    from { transform: translateY(-10px) translateX(-5px) rotate(-135deg); }
    to { transform: translateY(0px) translateX(0px) rotate(0deg); }
}