body {
  font-family: 'roboto', sans-serif;
  font-size: 13pt;
  margin: 0;
}
header {
  /* background-color: rgba(255, 255, 255, 0.4); */
  color: rgb(0, 0, 0);
  text-shadow: 3px 3px 6px white, 3px -3px 6px white, -3px 3px 6px white, -3px -3px 6px white;
  min-height: 375px;
  padding-top: 5px;
  font-weight: bolder;
  line-height: 1.5em;
  background-image: url("https://lh3.googleusercontent.com/bsfWzrbOTsTThj5pscNaHDkyxOdkU-AhPyNyx-lsCOBpoL9PHbSJJ_S7zqF7T31Ll1YG45c-AMAunk_fNsVRFv0yMJvYENtN573jN_nkUt4zVPuggTq6IYq1ccfXXkMc5Df0jIxVRQ=w2400");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
    font-size: 2rem;
    font-weight: bold;
}
h1.nameSiteTitle {
	font-family: "arial black";
  -webkit-text-stroke: 2px black;
  font-size: 300%;
  line-height: 1.5;
  color: #ffc100;
}
nav, section, ul {
  width: 100%;
}
main, footer, nav, section, details, summary, div, ul, li, figure, figcaption, h1, h2, h3, h4, p, span, img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  text-align: center;
  height: auto;
  list-style: none;
  margin: 0.25rem;
  border-radius: 20px;
  min-width: 4rem;
}
main {
  background-color: white;
  border-radius: 20px 20px 0 0;
  width: -webkit-fill-available;
  margin: 0;
  padding: 0;
  margin-top: -20px;
}
figure.navFig {
  font-size: 0.8rem;
  background-color: rgba(255, 255, 255, 0.5);
  min-width: 0;
  width: 3.5rem;
  height: 4rem;
  margin: 0;
  padding: 0.2rem;
  line-height: 1em;
}
figure.navFig:hover {
  height: 4.2rem;
  width: 3.7rem;
}
figcaption.skillsNavFigCap {
    margin-top: -0.15em;
}
figure img {
  height: 2rem;
}
figure svg {
  height: 2rem;
  margin-bottom: -0.5rem;
}
i {
  font-size: 2rem;
  color: #ff4500;
  text-shadow: none;
}
a {
  color: inherit;
  text-decoration: none;
}
ul, table {
  padding: 0.5rem;
}
nav ul {
  align-items: flex-start;
  box-shadow: none;
  width: 85%;
  margin: 0;
  padding: 0;
}
li.skillIcon {
  box-shadow: 1px 1px 5px grey;
}
li.skillIcon img {
  height: 4rem;
  max-width: 4rem;
  border-radius: 0;
}
li.AdobeBox {
  padding: 0.5rem;
  width: 9rem;
}
ul.backgroundUl {
  flex-direction: row;
}
table {
  border-collapse: separate;
	border-spacing: 0px;
  padding: 0;
}
th, td {
	text-align: left;
  padding: 0.5rem;
}
td.tableImgTd {
  vertical-align: middle;
}
td img {
  max-width: 90%;
  height: auto;
  border-radius: 0;
}
ul, li.bizProcessList li {
  box-shadow: 1px 1px 5px grey;
  min-height: 5rem;
  min-width: 5rem;
}
li.bizProcessList ul {
  font-size: 0.8rem;
  justify-content: flex-start;
}
li.bizProcessList li {
  min-height: 2rem;
  min-width: 2rem;
  max-width: min-content;
  padding: 0.5rem;
}
figure.moreInfoOnSectionLink img {
  margin-left: 0.5rem;
  padding: 0.5rem;
  border: outset 5px lightgrey;
  border-radius: 20px;
  min-width: 0;
}
figure.moreInfoOnSectionLink {
    box-shadow: 1px 1px 5px grey;
    padding: 0.5rem 0.25rem 0.75rem 0.5rem;
    font-size: 1rem;
    width: 320px;
    justify-content: space-between;
    flex-wrap: nowrap;
}
figure.moreInfoOnSectionLink:hover {
  height: 4.5rem;
}
figure.moreInfoOnSectionLink img:hover {
  border-style: inset;
}
li.FCXConnected ul {
  flex-wrap: nowrap;
}
li.FCXConnectedText {
  width: 40%;
}
figure.PMExFig {
  width: 100%;
  height: auto;
}
img.projectPlanEx {
	padding-top: 0.5rem;
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  border: solid 1px grey;
  margin: 0.5rem;
}
img.cert {
    width: auto;
    height: 20vh;
    padding: 0.25rem;
}
img.cert:hover {
  box-shadow: 2px 2px 5px black;
}
ul.whyWebDevList {
  margin: 1rem;
  box-shadow: none;
}
ul.projectsList li {
  box-shadow: 1px 1px 5px grey;
  width: 100%;
}
ul.projectsList figure {
  width: 100%;
}
ul.projectsList figure:first-child {
  width: 100%;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
figure.sitePreviewFig * {
  width: 100%;
  margin: 0.5rem;
}
img.projectLogo {
  height: 5rem;
}
#FCXTikiLogo {
    height: auto;
    border-radius: 10px;
    width: 5rem;
}
img.projectLogo:hover {
  box-shadow: 2px 2px 3px black;
}
img.sitePreview {
    margin: 0 auto;
    width: 100%;
    height: auto;
}
footer {
    border-radius: 20px 20px 0 0;
    box-shadow: 1px 1px 5px grey;
    margin: 10px 0 0 0;
}
footer nav {
  justify-content: space-around;
}
footer nav ul {
  width: 100%;
  align-items: center;
  min-height: 3rem;
}
footer nav li {
  min-width: 0;
}
footer img {
  height: 1.5rem;
  min-width: 0;
  border-radius: 0;
}
footer i {
  font-size: 2rem;
  margin: 0 0.25rem;
}
footer img:hover {
  height: 1.7rem;
  width: 1.7rem;
}
footer i:hover {
font-size: 2.2rem;
}
ul.siteMapWhole {
	column-count: 2;
	font-weight: bold;
  margin: 0.5rem;
}
ul.siteMapWhole li {
  break-inside: avoid;
}
ul.siteMapWhole a:hover {
  text-shadow: 0.5px 0.5px black;
}
ul.siteMapList {
  padding: 0.5rem 0 0 0;
  margin: 0;
  box-shadow: none;
}
li.siteMapProjectsList {
  break-before: column;
}
ul.siteMapWhole li ul li {
	font-weight: normal;
}
.restoredList {
  text-align: left;
  list-style-type: disc;
  list-style-position: outside;
  border-radius: 20px;
  width: 100%;
}
li.restoredList {
  display: list-item;
  text-align: -webkit-match-parent;
  margin-left: 1.5rem;
}
.hiddenHeaders {
  display: none;
}
/* Everything below here hamburger menu */

aside {
	left: 0;
	top: 0;
  white-space: nowrap;
}
aside * {
  box-shadow: none;
  display: block;
  text-align: left;
}
h1.asideHeader {
    padding: 7px 0;
    text-align: center;
}
div.hamMenuVisible {
	position: fixed;
	top: 0;
  left: 0;
	background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 1px 1px 5px grey;
  width: min-content;
  margin: 0.5rem;
}
div.hamMenuVisible ul {
  margin-top: 0;
  padding: 0.5rem;
}
#hamMenuIcon span {
  display: block;
  position: fixed;
  height: 6px;
  min-width: 0px;
  width: 35px;
  background: #000000;
  border-radius: 9px;
  opacity: 1;
  left: 0px;
  z-index: 100;
}
#hamMenuIcon span:hover {
  background-color: white;
}
#hamMenuIcon span:nth-child(1) {
  top: 0px;
}
#hamMenuIcon span:nth-child(2) {
  top: 10px;
}
#hamMenuIcon span:nth-child(3) {
  top: 20px;
}
span.hamLine1Opening {
	animation-name: hamOpenTop;
	animation-duration: 1s;
  animation-fill-mode: forwards;
}
span.hamLine1Closing {
	animation-name: hamCloseTop;
	animation-duration: 1s;
  animation-fill-mode: forwards;
}
span.hamLine2Opening {
	animation-name: hamOpenMiddle;
	animation-duration: 1s;
  animation-fill-mode: forwards;
}
span.hamLine2Closing {
	animation-name: hamCloseMiddle;
	animation-duration: 1s;
  animation-fill-mode: forwards;
}
span.hamLine3Opening {
	animation-name: hamOpenBottom;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
span.hamLine3Closing {
	animation-name: hamCloseBottom;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
@keyframes hamOpenTop {
    from { transform: translateY(0px) rotate(0deg); background-color: black;}
    to { transform: translateY(10px) rotate(135deg); background-color: red;}
}
@keyframes hamCloseTop {
    from { transform: translateY(10px) rotate(135deg); background-color: red;}
    to { transform: translateY(0px) rotate(0deg); background-color: black;}
}
@keyframes hamOpenMiddle {
    0% {opacity:1; background-color: black;}
    100% {opacity:0; background-color: red;}
}
@keyframes hamCloseMiddle {
	0% {opacity:0; background-color: red;}
	100% {opacity:1; background-color: black;}
}
@keyframes hamOpenBottom {
    from { transform: translateY(0px) rotate(0deg); background-color: black;}
    to { transform: translateY(-10px) rotate(-135deg); background-color: red;}
}
@keyframes hamCloseBottom {
    from { transform: translateY(-10px) rotate(-135deg); background-color: red;}
    to { transform: translateY(0px) rotate(-0deg); background-color: black;}
}
.hamMenuHidden {
    animation-name: fadeOutWholeElement;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
.hamMenuVisible {
    animation-name: fadeInWholeElement;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
@keyframes fadeInWholeElement {
    0% {opacity:0;}
	100% {opacity:1;}
}
@keyframes fadeOutWholeElement {
    0% {opacity:1;}
    100% {opacity:0;}
}
.WMCubeScene {
            width: 200px;
            height: 200px;
            perspective: 400px;
            border-radius: 100%;
            background: #63061f;
        }
        .WMCube {
            transform-style: preserve-3d;
            transform: rotateY(135deg);
            animation: cubeRotate 30s linear infinite;
        }
        @keyframes cubeRotate {
            from { transform: rotateY(720deg) rotateX(0deg) rotateZ(0deg); }
            to { transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg); }
        }
        .WMCubeSide {
            position: absolute;
        }
        .WMCubeBG {
            fill: #63061f;
        }
        .WMCubeLetter {
            fill: #ffca5d;
        }
        main {
            padding: 100px;
        }
        .cubeFaceTop {
            transform: rotateX(90deg) translateZ(100px);
        }
        .cubeFaceBottom {
            transform: rotateX(-90deg) translateZ(100px) rotateZ(180deg);
        }

        .cubeFaceRight {
            transform: rotateY(90deg) translateZ(100px);
        }
        .cubeFaceLeft {
            transform: rotateY(-90deg) translateZ(100px);
        }

        .cubeFaceFront {
            transform: rotateX(0deg) translateZ(100px);
        }
        .cubeFaceBack {
            transform: rotateX(-180deg) translateZ(100px) rotateZ(180deg);
        }